<header id="blog-header">
    <div class="inner">
        <nav id="navigation">
            navigation
        </nav>
    </div>
</header>

<div class="container">
    <main class="content">
        bbbb
    </main>
</div>