<!doctype html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/navigation') %>
    <section id="wrapper">
        <%- body %>
        <%- partial('_partial/footer') %>
    </section>
</body>
</html>