<!doctype html>
<html>
<%- partial('_partial/head') %>
<body>
    <main class="site-main">
        <%- body %>
    </main>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
</body>
</html>