<footer>
    <div class="blog-footer">
      <a href="/" class="blog-logo">
          <%= config.title %>
      </a>
      <nav class="footer-nav nav-links">
        <% for (var i in theme.menu){ %>
            <a class="footer-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
    </div>
    <div class="copyright-footer">
      Copyright © <%= config.title %> 2017 | Powered By Hexo | Theme - 
      <a href="https://github.com/clarkzsd/hexo-theme-impromptu">Impromptu</a>
    </div>
</footer>